<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Systemd Directives Form</title>
</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}.
    </div>
    {% endif %}
    {% endwith %}

    <h1>Systemd Service Unit Directives Form</h1>
    <form method="post">
        <fieldset>
            <legend>File attributes</legend>
        
            <label for="FileName">File Name: </label>
            <input type="text" name="FileName" id="FileName" placeholder="Enter File Name">
        </fieldset>

        <fieldset>
            <legend>Unit Section</legend>

            <label for="Unit_Description">Description: </label>
            <input type="text" name="Unit_Description" id="Unit_Description" placeholder="Enter Description">

            <label for="Unit_Wants">Wants: </label>
            <input type="text" name="Unit_Wants" id="Unit_Wants" placeholder="Enter Wants">
        </fieldset>

        <fieldset>
            <legend>Service Section</legend>
        
            <label for="Service_Type">Service Type:</label>
            <select name="Service_Type" id="Service_Type">
                <option value="simple">Simple</option>
                <option value="forking">Forking</option>
                <option value="oneshot">Oneshot</option>
            </select>

            <label for="Service_ExecStart">ExecStart: </label>
            <input type="text" name="Service_ExecStart" id="Service_ExecStart" placeholder="Enter ExecStart">

            <label for="Service_User">User: </label>
            <input type="text" name="Service_User" id="Service_User" placeholder="Enter User">

            <label for="Service_Group">Group: </label>
            <input type="text" name="Service_Group" id="Service_Group" placeholder="Enter Group">
        </fieldset>

        <fieldset>
            <legend>Install Section</legend>

            <label for="Install_WantedBy">WantedBy: </label>
            <input type="text" name="Install_WantedBy" id="Install_WantedBy" placeholder="Enter WantedBy">
        </fieldset>

        <button type="submit">Submit</button>
    </form>
</body>

</html>