{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Build shell script, by entering commands.</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}.
        </div>
        {% endif %}
        {% endwith %}

        <form method="POST" action="/buildscript">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="command1" name="command1" placeholder="Command1" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="command2" name="command2" placeholder="Command2" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="command3" name="command3" placeholder="Command3" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="command4" name="command4" placeholder="Command4" autofocus="">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">validate and build script</button>
        </form>
    </div>
</div>
{% endblock %}